.menuList{display:flex;flex-wrap:wrap;gap:10px;}
.menuList li{overflow:hidden;width:200px;padding:15px;border:1px solid #cfcece;}
.menuList a, .menuList img, .menuList strong{display:block;width:100%;}
.menuList strong{margin-bottom:10px;}