body,h1,h2,h3,h4,p,ul,ol,li{margin:0;padding:0;}
a{text-decoration:none;color:#000}
a:hover{font-weight:700;}
ul{list-style:none;}

input{display:inline-block;width:200px;height:36px;border:1px solid #cecbcb;color:#444;vertical-align:top;box-sizing:border-box;}
input:focus{border:1px solid #c3c7ff;}
button{display:inline-block;width:60px;height:36px;border:1px solid #cecbcb;color:#444;vertical-align:top}

.cont_wrap{}
.flexBox{display:flex;gap:20px;}